
server:
  port: 8084

spring:
  application:
    name: API-GATEWAY

  cloud:
    gateway:
      routes:
        - id: USER-SERVICE
          uri: lb://USUARIO-SERVICE #name of the service in eureka
          predicates: #conditions or toutes
            - Path=/users/**
          filters:
            - AuthFilter
        - id: HOTEL-SERVICE
          uri: lb://HOTEL-SERVICE
          predicates:
            - Path=/hotels/**,/staffs/** #multiple paths to controllers
        - id: CALIFICACION-SERVICE
          uri: lb://CALIFICACION-SERVICE
          predicates:
            - Path=/calificaciones/**
        - id: AUTH-SERVICE
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**
#configuration for eureka
eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

