
server:
  port: 8086

spring:
  application:
    name: AUTH-SERVICE
  # config cloud
  config:
    import: optional:configserver:http://localhost:8885


jwt:
  secret: secret

# this is to the config server
# just the method post is for the admins
admin-paths:
  paths:
    -
      uri: "/users"
      method: "POST"
    -
      uri: "/hotels"
      method: "POST"
    -
      uri: "/calificaciones"
      method: "POST"