
server:
    port: 8082

spring:
    datasource:
        url: jdbc:postgresql://localhost:5433/1_mscv_proyecto1
        username: postgres
        password: 1234
    jpa:
        hibernate:
            ddl-auto: update
            show-sql: true

    application:
        name: HOTEL-SERVICE

    # config cloud
    config:
        import: optional:configserver:http://localhost:8885

# configuracion anterior
#eureka:
 #   instance:
  #      prefer-ip-address: true
   # client:
    #    fetch-registry: true
     #   register-with-eureka: true
      #  service-url:
       #     defaultZone: http://localhost:8761/eureka